---
layout: default
title: rmhdev site
---

    {% if site.posts > 0 %}
    <div class="sixteen columns">
        <h2>Blog</h2>
        <ul class="posts">
            {% for post in site.posts %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {{ site.pages.about }}

    {% for mypage in site.pages reversed %}
        {% if mypage.layout == "page" %}<div class="one-third column">
        {{ mypage.content }}
        </div>{% endif %}
    {% endfor %}