<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author.name }}">
    <meta name="copyright" content="{{ site.license.name }}" />
    <meta http-equiv="Content-Language" content="{{ site.lang }}">
    <meta name="theme-color" content="#ffffff"/>

{% capture creator %}{{ site.author.name }} ({{ site.author.twitter }}){% endcapture %}
{%- case page.layout -%}
{%- when 'post' -%}
    <title>{{ page.title }} | {{ creator }}</title>
    <meta name="description" content="{{ page.abstract }}">
    <link rel="bookmark" href="{{ page.url | absolute_url }}" />
{%- when 'about' -%}
    <title>{{ page.title }} | {{ creator }}</title>
    <meta name="description" content="{{ site.description }}">
{%- else -%}
    <title>{{ creator }}</title>
    <meta name="description" content="{{ site.description }}">
    <link rel="bookmark" href="{{ site.url | absolute_url }}" />
{%- endcase -%}

{%- case page.layout -%}
{% when 'post' %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.abstract }}" />
    <meta property="og:url" content="{{ page.url | absolute_url }}" />
    {% if page.image %}<meta property="og:image" content="{{ page.image | absolute_url }}"/>
    <meta property="og:image:alt" content="{% if page.image-alt %}{{ page.image-alt }}{% else %}{{ page.abstract }}{% endif %}"/>
    <meta name="twitter:card" content="summary_large_image">{% endif %}
{% else %}
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:url" content="{{ site.url | absolute_url }}" />
{% endcase %}
    <meta property="og:locale" content="{{ site.lang }}" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}">

    <link rel="stylesheet" href="/css/main.css?id={{ site.time | date: '%s' }}">
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="{{ creator }}">

    <link rel="apple-touch-icon" href="/touchicon.png">
    <link rel="icon" href="/favicon.png">
    <link rel="manifest" href="/manifest.json">

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
