<!DOCTYPE html>
<!--[if lt IE7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>rmhdev's site</title>
    <meta name="description" content="Developer from Donostia/San Sebastián. Symfony lover, always learning.">
    <meta name="author" content="Rober Martín">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/rmhdev.css">

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--<link rel="shortcut icon" href="images/favicon.ico">-->
</head>
<body>
    <div class="container">
        <div class="sixteen columns rmhdev-header">
            <h1 class="">rmhdev<span class="rmhdev-light">.net</span></h1>
            <p class="rmhdev-description">Rober Martín H's site</p>
        </div>

        {{ content }}
        
        <div class="sixteen columns rmhdev-footer">
            &copy; 2012 Rober MH
        </div>
    </div>

</body>

</html>
