---
layout: default
type: home
---
    <header class="rmh-homepage">
            <h1>{{ site.author.name }}</h1>
            <p class="lead">{{ site.description }}</p>

            <ul class="rmh-contact">
                <li><a class="button rmh-twitter" href="https://twitter.com/{{ site.author.twitter }}">@{{ site.author.twitter }}</a></li>
                <li><a class="button rmh-github" href="https://github.com/{{ site.author.github }}">GitHub profile</a></li>
            </ul>
    </header>
{% if site.posts.size > 0 %}
            <section class="rmh-articles">
                <h1>Articles</h1>
{{ content }}
            </section>
{% endif %}
