---
layout: default
type: home
---

            <section class="sixteen columns">
                <div class="box box-about">
                    <h1>{{ site.author.name }}</h1>

                    <div class="author-content clearfix">
                        <p class="lead">{{ site.description }}</p>
                    </div>
                </div>
            </section>
            <section class="sixteen columns">
                <div class="box articles">
                    <h1>Articles</h1>

{{ content }}

                </div>
            </section>
