---
layout: default
type: article
---
<nav class="post">
    <div class="container">
        <a class="author" href="{% link index.html %}">{{ site.author.name }}</a>
    </div>
</nav>

{%- assign date_format = site.date_format | default: "%b %d, %Y" -%}
<main class="post">
    <article>
        <header class="header">
            <div class="container">
                <h1 class="title">{{ page.title }}</h1>
                <div class="subtitle">
                    Posted on <a href="{{ page.url | absolute_url }}" class="permalink" title="Permalink"><time datetime="{{ page.date | date: '%Y-%m-%d %H:%M' }}">{{ page.date | date: date_format }}</time></a>
                </div>
            </div>

{% if page.image %}
            <div class="header-image">
                <div class="container">
                    <figure>
                        <img src="{{ page.image }}" class="img-fluid" alt="{{ page.image-alt }}">
                    {%- if page.image-source != "" or page.image-caption != "" -%}
                        <figcaption>{% if page.image-caption != "" %}{{ page.image-caption }}. {% endif %}{%- if page.image-source != "" -%}<a href="{{ page.image-source }}">Image source</a>{% else %}{{ page.image-caption }}{% endif %}</figcaption>
                    {%- endif -%}
                    </figure>

                </div>
            </div>
{% endif %}

        </header>

        <div class="content">
            <div class="container">
                <span class="separator top" aria-hidden="true"></span>
            {{- content -}}
                <span class="separator bottom" aria-hidden="true"></span>
            </div>
        </div>

        <footer class="feedback">
            <div class="container">
                <p>Do you have any comments for this article? Please tweet me at <a href="http://twitter.com/{{ site.author.twitter }}" rel="me">@{{ site.author.twitter }}</a>. Remember that you can <a href="{{ site.repository.fork_me }}/blob/master/{{ page.path }}"> fork this post</a> and send a pull request. Thanks!</p>
            </div>
        </footer>
    </article>
</main>
